body{
    color: blue;
}

.header{
    background-color: steelblue;
    color: red;
    position: static;

    -webkit-print-color-adjust: exact;
}
.content{
    padding: 0;
    margin: 0 auto;

    -webkit-print-color-adjust: exact;
}
.print-btn{
    display: none;
}

@page{

    /* size: portrait; */
    /* size: landscape;  */
    /* size: auto; */

    /* size: A4; */
    /* size: Legal; */
    /* size: A4 landscape; */
    size: 4in 6in;

    margin: 0;
}
