*{
    box-sizing: border-box;
} 

body{
    height: 100vh;
    font-family:  sans-serif;

    display: grid;
    place-items: center;


    padding: 0;
    margin: 0;

}
.container{
    width: 900px;
}

.nav{
    background-color: #f1f1f1;
    border: 1px solid #ccc;

    display: flex;

    padding: 0;
    margin: 0;
}

.nav-item{
    list-style-type: none;

}
.nav .tablinks{
    background-color: inherit;
    font-size: 17px;
    border: none;
    outline: none;
    cursor: pointer;

    padding: 14px 16px;
}

.nav .tablinks:hover{
    background-color: #ccc;
}

.nav .tablinks.active,.tab-content{
    background-color: #ccc;
}

.tab-pannel{
    border: 1px solid #bbb;
    border-top: none;

    padding: 6px 12px;

    display: none;
}
.btn-close{
    font-size: 28px;
    cursor: pointer;

    float: right;
}

.btn-close:hover{
    color: red;
}