*{
    box-sizing: border-box;
} 

body{
    height: 100vh;
    font-family:  sans-serif;

    display: grid;
    place-items: center;

    padding: 0;
    margin: 0;

}

.container{
    width: 900px;
    background-color: #f4f4f4;
    padding: 20px;


}

.modal{
    width: 100%;
    height: 100%;
    background-color: #333;


    position: fixed;
    left: 0;
    top: 0;

    z-index: 10;

    display: none;


}

.btn-close{
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;

    position: absolute;
    right: 35px;
    top: 30px;
}

.btn-close:hover, .btn-close:focus{
    color: red;
}

form{
    width: 500px;
    margin: 0 auto;
}

form h2{
    color: #fff;
}

.input-group{
    width: 100%;

    display: flex;

    margin-bottom: 15px;
}
.icon{
    width: 50px;
    background-color: steelblue;
    color: #fff;
    text-align: center;

    padding: 10px;
}

.input-group-text{
    width: 100%;
    padding: 10px;
    border-radius: none;
}

.input-group-text:focus{
    outline: none;
    border: 2px solid steelblue;
}
.btn{
    width: 100%;
    background-color: steelblue;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0.9;

    padding: 15px 20px;
}
.btn:hover{
    opacity: 1;
}

#closefullscreen-btn{
    display: none;
}
