*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;
    background-color: #f6f6f6;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
    
}

/* Start Navigation   */
.navbar{
    width: 100%;
    background-color: #333;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: end;

    padding: 0 30px;

}

.navbar a{
    text-decoration: none;
    color: #fff;

    padding: 15px 20px;
}
.dropdown{
    transition: display .5s ease-in;
}

.dropdown .dropdown-toggle{
    background-color: inherit;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;

    padding: 15px 20px;
}

.dropdown .dropdown-menu a{
    color: #000;
    text-align: center;
    display: block;
}

.dropdown .dropdown-menu a:hover{
    color: #fff;
}

.navbar a:hover,.dropdown:hover .dropdown-toggle{
    background-color: steelblue;
    
}

.dropdown-menu, .dropdown-menu-mega{
    width: 130px;
    background-color: #f4f4f4;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);

    position: absolute;

    z-index: 1;

    display: none;
}
.dropdown-menu-mega{
    width: 100%;
    left: 0;
}

.dropdown-menu-mega .header{
    width: 100%;
    background: linear-gradient(
        25deg,
        gray,
        black
    );
    color: #fff;

    padding: 10px;
}

.dropdown-menu-mega .row{
    display: flex;
    background-color: #f4f4f4;

    padding: 30px;
}

.dropdown-menu-mega .row .col-4{
    width: 33.33%;
}

.dropdown-menu-mega .row .col-4 h4{
    text-align: center;
    text-decoration: underline;
}

.dropdown-menu-mega .row .col-4 a{
    color: #000;
    display: block;
    text-align: center;

    padding: 20px 0;
}

.dropdown-menu-mega .row .col-4 a:hover{
    color: #fff;
}

.dropdown:hover .dropdown-menu,.dropdown:hover .dropdown-menu-mega{
    display: block;
}
/* End Navigation   */

/* Start Left Side Bar  */
.open-btn{
    position: fixed;
    left: 10px;
    top: 10px;
}

.open-btn .fa-bars{
    color: #fff;
}

.nav-btn{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;

    z-index: 2;
}

.nav-leftsidebar .logo{
    width: 75px;
    border-radius: 50%;

}

.nav-leftsidebar{
    height: 100vh;
    
    padding: 30px;

    position: fixed;
    left: 0;
    top: 0;

    transform: translateX(-100%);

    z-index: 3;

    transition: transform .3s ease-in;
}
.nav-leftsidebar.visible{
    transform: translateX(0);
}
.nav-bg{
    background-color: #000;
}
.close-btn{
    color: #fff;

    position: absolute;
    right: 20px;
    top: 20px;

    opacity: 0.5;
}

.close-btn:hover{
    color: red;
    opacity: 0.9;
}

.list-group{
    list-style: none;

    padding: 0;
    margin: 0;
}

.list-group .list-group-item{
    margin: 25px 0;
}

.list-group .list-group-item .nav-link{
    background-color: steelblue;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    display: block;

    padding: 10px;
}

.list-group .list-group-item .nav-link:hover{
    opacity: 0.8;

    transform: translateX(10px);
}

.list-group .list-group-item .nav-link.active{
    background-color: darkblue;
    opacity: 1;
    transform: translateX(0px);
}


/* End Left Side Bar  */