*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;

	position: relative;
}

.controls{
	width: 100%;
	height: 300px;
	background-color: #222;
	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 12px 0;

}

.ctrl-btn{
	background-color: transparent;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;

	margin: 0 5px;
}

.progress{
	width: 70%;
	height: 4px;
	background-color: #f4f4f4;
	border-radius: 5px;
	cursor: pointer;

	margin-right: 5px;
}

.progress-bar{
	width: 50%;
	height: 100%;
	background-color: steelblue;
	border-radius: 5px;

}

.ctrl-btn .fa-play{
	color: steelblue;
}

.ctrl-btn .fa-stop{
	color: red;
}

.openfullscreen,.closefullscreen{
	cursor: pointer;
}

.closefullscreen{
	display: none;
}

.displaytime{
	margin-left: 10px;
}

.pannel{
	background-color: #000;
	color: #fff;

	position: absolute;
	left: 10%;
	top: 50%;
	
	padding: 0 30px;

	z-index: -1;

	transition: all -5s ease-out;
}

.container:hover .pannel{
	top: 100%;
}