*{
    box-sizing: border-box;
} 

body{
    height: 100vh;
    font-family:  sans-serif;


    padding: 0;
    margin: 0;

}
.modal-btn,.btn{
    background-color: green;
    color: #fff;
    border: none;

    padding: 14px 20px;
    margin: 8px 0;

    cursor: pointer;
}

.modal-btn:hover{
    opacity: .8;
}


img.avatar{
    width: 100px;
    border-radius: 50%;
}

.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);

    position: absolute;
    left: 0;
    top: 0;


    z-index: 10;

    display: none;
}

.modal-dialog{
    width: 700px;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}

.modal-content{
    background-color: #f4f4f4;
    padding: 10px;
}

input[class=form-control]{
    width: 100%;
    border: 1px solid #ddd;

    padding: 12px 20px;
    margin: 8px 0;
}

input[class=form-control]:focus{
    outline: none;
}

.d-grid .btn{
    width: 100%;

}

span.forgot{
    float: right;
}

.modal-header{

    text-align: center;


    padding: 20px 0;

    position: relative;
}

.btn-close{
    color: #000;
    font-size: 35px;

    position: absolute;
    right: 35px;
    top: 0;

    cursor: pointer;
}
.modal-footer{
    border-top: 1px solid #ddd;

    padding: 20px;
}
.fade{
    animation: myani 0.9s linear;
}

@keyframes myani {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}