*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
   
    height: 100vh;
    background-color: #000;

    
}

.timeline{
    width: 800px;
    margin: 0 auto;

    position: relative;
}

.timeline::after{
    content: "";

    width: 6px;
    height: 100%;
    background-color: #fff;

    position: absolute;
    left: 50%;
    top: 0;

    transform: translateX(-50%);
}

.boxes{
    width: 50%;
    /* background-color: gray; */

    padding: 10px 40px;

    position: relative;
}

.boxes::after{
    content: "";

    width: 20px;
    height: 20px;
    background-color: #f6f6f6;
    border-radius: 3px;

    position: absolute;
    right: -10px;
    top: 20px;

    z-index: 10;
}


.content{
    padding: 20px 30px;
    background-color: #fff;
    

}

.left{
    left: 0;
}

.right{
    left: 50%;
}

.left::before{
    content: "";

    width: 0;
    height: 0;
    /* background-color: red; */

    position: absolute;
    right: 30px;
    top: 20px;

    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;

}

.right::before{
    content: "";

    width: 0;
    height: 0;
    /* background-color: red; */

    position: absolute;
    left: 30px;
    top: 20px;

    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;

}

.right::after{
    left: -10px;

}


