*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #666;
    height: 100vh;
    font-family:  sans-serif;
    /* background-color: #f4f4f4; */

    display: grid;
    place-items: center;


    padding: 0;
    margin: 0;

}

.container{
    width: 600px;
}

h3{
    color: #fff;
    text-align:center;
}

.form-control{
    width: 100%;
    padding: 10px;
}

.form-control:focus{
    outline: none;
}

.text-area{
    width: 100%;
    height: 100px;
    resize: none;
    overflow-y: scroll;
}

.btn{
    background-color: steelblue;
    color: #fff;

    border: none;
    outline: none;
    padding: 5px 15px;
    margin: 10px 0;
}
.justify-content-end{
    display: flex;
    justify-content: end;
}

.emailcontainer{
    flex-wrap: wrap;

}

.email{
    background-color: steelblue;
    color: #fff;
    font-size: 14px;
    padding: 5px 18px;
    margin: 0 3px;
}