*{
    box-sizing: border-box;
} 

body{
    height: 100vh;
    font-family:  sans-serif;
    /* background-color: #f4f4f4; */

    display: grid;
    place-items: center;


    padding: 0;
    margin: 0;

}

.container{
    /* background-color: #fff; */
    border: 1px solid #ccc;
    border-radius: 5px;

    padding: 10px;
}

.container h3{
    color: #777;
    font-size: 20px;
    border-bottom: 2px dashed #777;

    line-height: 70px;

    padding: 0;
    margin: 0;

    opacity: 0.8;
}

small{
    color: #777;
    text-align: center;
    display: block;
    margin-top: 10px;
}

#form{
    width: 400px;
    margin-top: 20px;
}

.form-control{
    width: 100%;
    font-size: 15px;
    border: 0;
    border-bottom: 2px solid orange;

    padding: 10px;
}
.form-control:focus{
    outline: none;
    border-bottom: 2px solid blueviolet;
}
.form-control::placeholder{
    color: #d5d5d5;
}

.list-group{
    height: 300px;
    list-style: none;

    margin: 0;
    padding: 0;

    overflow-y: scroll;
}
.list-group li{
    background-color: #f6f6f6;
    font-size: 15px;
    border: 1px solid #ddd;

    padding: 15px;
    margin-top: -1px;

    cursor: pointer;
}

.list-group li:hover{
    background-color: #f1f1f1;
}

.list-group li.completed{
    color: #777;
    font-style: italic;
    text-decoration: line-through;
}

.list-group li.completed::after{
    content: 'done';
    font-family: "Font Awesome 5 Free";
    float: right;
}
